<div class="flex justify-between items-center mb-6">
  <h1 class="text-2xl font-bold">
    Attendees – <%= @event.name %>
  </h1>

  <%= link_to "Add Attendee",
      new_event_attendee_path(@event),
      class: "bg-black text-white px-4 py-2 rounded text-sm" %>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <% @attendees.each do |a| %>
    <div class="bg-white p-4 rounded-lg border shadow-sm">
     <div class="flex justify-between">
      <div>
        <p class="font-semibold"><%= a.full_name %></p>
        <p class="text-sm text-gray-500">
          <%= a.company %> • <%= a.role %>
        </p>
      </div>
      <div>
        <%= link_to "Remove", event_attendee_path(@event, a), 
            data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this attendee?" },
        class: "text-red-600 text-sm" %>
      </div>
     </div>

      <div class="mt-4 flex items-center justify-between">
        <div>
          <% qr = RQRCode::QRCode.new(checkin_url(a.token)) %>
          <%= raw qr.as_svg(module_size: 2) %>
        </div>

        <%= link_to "Badge PDF",
            badge_event_attendee_path(@event, a),
            class: "text-sm underline" %>
      </div>
    </div>
  <% end %>
</div>
